@keyframes invalid-popup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.invalid-popup {
  transform: translateX(-20px);
  font-size: 0.8rem;
  margin: 1em 0em;
  padding: 0;
  line-height: 1rem;
  color: var(--error-color);
}

.invalid-popup.inactive-err-popup {
  display: none;
}
.invalid-popup.active-err-popup {
  display: inline-block;
  animation: invalid-popup ease-in-out 300ms forwards;
}

.invalid-input {
  border: 1px solid var(--error-color) !important;
}

.valid-input {
  border: 1px solid var(--valid-color) !important;
}

@keyframes submit-invalid {
  from {
    transform: translateX(-0px);
  }
  25% {
    transform: translateX(10px);
  }

  50% {
    transform: translateX(-10px);
  }

  75% {
    transform: translateX(10px);
  }

  to {
    transform: translateX(0px);
  }
}

.auth-submit-invalid {
  animation: submit-invalid ease-out 450ms forwards;
  background-color: #ed3737;
  /*transition: all 150ms ease-in;*/
}

.auth-submit-default {
  /*transition: all 150ms ease-in;*/
}

.auth-submit-valid {
  background-color: green !important;
}
